@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /* Colors */
    --body-color: #EEF4F6;
    --body-color-dark: #E3EBEE;
    --primary-color: #5F58A8;
    --primary-font-color: #351C7D;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --tran-05: all 0.6s ease;
}

.home {
    padding: 35px 25px 30px 30px;
}

/* === Heading and Search === */
.title {
    font-size: 35px;
    font-weight: bold;
    color: var(--primary-font-color);
}

.help-index {
    font-size: 16px;
    color: var(--primary-font-color);
    position: relative;
    bottom: 1px;
    margin-left: 3px;
    cursor: pointer;
}

.heading .info {
    font-size: 13px;
    opacity: 80%;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 15px;
}

.search {
    display: flex;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    justify-content: space-between;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.01);
}

.searchbar {
    background-color: var(--body-color);
    border-radius: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.focused-searchbar {
    background-color: var(--body-color-dark);
}

.search-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-input {
    border: none;
    background-color: transparent;
    height: 50px;
    width: 93%;
}

.search-input:focus {
    outline: none;
}


.select-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 18%;
    margin-left: 10%;
}

#select-box {
    border: none;
    appearance: none;
    padding: 0 40px 0 20px;
    width: 100%;
    background-color: var(--body-color);
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

.select-container .icon-container {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.icon-container i {
    font-size: 20px;
}

.search-button {
    background-color: var(--primary-color);
    height: 50px;
    width: 60px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

.bx-search {
    color: white;
    font-size: 18px;
}

/* === Accordion === */
.accordion {
    background-color: white;
    margin: 20px 0;
    padding: 15px 0;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 25px 0px;
}

.accordion li label {
    padding: 10px 50px;
}

label .label-title {
    font-size: 16px;
    font-weight: 500;
}

label .label-summary {
    font-size: 13px;
    font-weight: 400;
    opacity: 90%;
    padding-left: 5px;
    position: relative;
    top: 1px;
}

label .label-star {
    cursor: pointer;
    position: relative;
    top: 2px;
    margin-left: 10px;
    opacity: 80%;
}

.label-title::before {
    content: '+';
    padding-right: 28px;
    position: relative;
    top: 3px;
    font-size: 30px;
    font-weight: 100;
}

.accordion .content {
    opacity: 80%;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: var(--tran-05);
    font-size: 13px;
    font-weight: 500;
    color: var(--body-color);
}

.accordion .clicked .content {
    max-height: 400px;
    background-color: var(--body-color);
    margin-top: 50px;
    padding: 30px 45px;
    color: black;
}

.accordion .clicked .label-title::before {
    content: '-';
}